@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
}

.container3 {
  position: absolute;
  left: 700px;
  width: 400.41px;
  height: 39.98px;
  margin-top: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  box-sizing: border-box;
  background: white;
  bottom: 3px;
}

.lead {
  position: absolute;
  bottom: 30px;
  width: 105.17px;
  height: 31.48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', sans-serif;
  font-style: Medium;
  font-size: 11.05px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  background: black;
  padding: 5px 10px;
  cursor: pointer;
}

.plus {
  width: 13.99px;
  height: 13.99px;
  margin-right: 5px;
}

.border_image {
  position: absolute;
  left: 129.16px;
  bottom: 35px;
  width: 1px;
  height: 23.99px;
}

.bell {
  position: absolute;
  left: 146.15px;
  bottom: 30px;
}

.question {
  position: absolute;
  left: 196.14px;
  bottom: 30px;
}

.border_image2 {
  position: absolute;
  left: 246.13px;
  bottom: 35px;
  width: 1px;
  height: 23.99px;
}

.mini-container {
  width: 137.29px;
  height: 39.98px;
  background: white;
  position: absolute;
  left: 263.13px;
  bottom: 28px;
}

.profile_picture {
  position: absolute;
  left: 8px;
  top: 3.99px;
}

.name {
  position: absolute;
  left: 51.98px;
  font-family: 'Inter', sans-serif;
  width: 59.32px;
  height: 15.63px;
  display: flex;
  flex-direction: row;
  font-style: Medium;
  font-size: 11.05px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: left;
  top: 6px;
}

.role {
  position: absolute;
  left: 51.98px;
  top: 22.99px;
  width: 33.13px;
  height: 13.13px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: Regular;
  font-size: 9.35px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(107, 114, 128, 1);
}

.container2 {
  width: 671.99px;
  height: 36.74px;
  margin-top: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

.search {
  width: 608.01px;
  height: 36.74px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 12px 8px 40px;
  box-sizing: border-box;
  background: rgba(249, 250, 251, 1);
  color: rgba(204, 204, 204, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.findbtn {
  position: absolute;
  left: 600px;
}

.container1 {
  width: 280.24px;
  height: 31.99px;
  background: green;
}

.dashboard {
  position: absolute;
  width: 67.81px;
  height: 15.63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  font-family: 'Inter', sans-serif;
  font-style: Medium;
  font-size: 11.05px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.dropdown {
  position: absolute;
  right: 100px;
  bottom: 25px;
  width: 13.99px;
  height: 13.99px;
}